<div align="center">

    <!-- Greeting -->
    <div>
        <h1>{{vm.hello}}</h1>
    </div>

    <!-- List -->
    <fieldset>
        <legend>TODO list</legend>
        <div>
            <div>
                <h3>Things to do:</h3>
            </div>
            <div>
                <table>
                    <tr ng-repeat="line in vm.todos()">
                        <td align="center">{{line}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <input type="text" ng-model="vm.newLine">
            </div>
            <div>
                <button ng-click="vm.addLine()">ADD</button>
            </div>
        </div>
    </fieldset>

</div>